header.header {
  width: 100%;
  height: @navHeight;
  background: @colourPrimary;

  .logo {
    height: @navHeight;
  }

  .version {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity:0.3;
  }

}

section.board {

  section.grid {
    padding: 10px;
    margin: 0 auto;

    @import "product.less";

    .grid-gutter {
      width: 10px;
      height: 10px;
    }

    .grid-sizer, .grid-item {
      width: 200px;
      height: 100px;
    }

    .featured {
      width: 410px;
      height: 210px;
    }

    .grid-item {
      margin: 0;

    }

  }

  section.recent-orders {

  }

}

header.footer {

}