header.header {
  width: 100%;
  height: @navHeight;
  background: @colourPrimary;

  .logo {
    height: 60px;
  }

}

section.board {
  background: black;

  section.grid {
    margin: 0 auto;

    @import "product.less";

    .grid-item {

    }

    .grid-item {
      float: left;
      width: 100px;
      height: 100px;
      background: #0D8;
      border: 2px solid #333;
      border-color: hsla(0, 0%, 0%, 0.7);
    }

    .grid-item--width2 { width: 200px; }
    .grid-item--height2 { height: 200px; }

  }

  section.recent-orders {

  }

}

header.footer {

}