<header class="header">
	<img class="logo" src="assets/logo_white.png" width="auto" height="60px" />
	<span class="version">v0.0.0.0.0.0.0.0.0.0.0.1</span>
</header>

<section class="board">

	<section class="grid">

	</section>

	<section class="recent-orders">

	</section>

</section>



<footer class="news-ticker">
	<marquee behavior="scroll" scrollamount="2" direction="left">
		<span>
			Health sector applauds $300m ice prevention and treatment plan
		</span>
		•
		<span>
			Police investigate London tube stabbing as terrorist incident
		</span>
		•
		<span>
			Brandis accuses Macfarlane of 'gaming the system' in defection to Nationals
		</span>
		•
		<span>
			Spanish galleon may contain biggest treasure haul ever found on seabed
		</span>
		•
		<span>
			Venezuela’s high-life elite hope hard-hit poor will abandon Chávez’s legacy
		</span>
		•
		<span>
			Making it harder to be a nurse? Oh, bravo, Mr Hunt | Barbara Ellen
		</span>
		•
		<span>
			If Louis van Gaal is a genius why are Manchester United so bland? | Daniel Taylor
		</span>
		•
		<span>
			The Observer view on Britain’s unedifying alliance with Saudi Arabia | Observer editorial
		</span>
		•
		<span>
			Posh flavoured crisps are new supermarket battleground
		</span>
		•
		<span>
			The Observer view on the role of faith in Britain’s schools | Observer editorial
		</span>
	</marquee>
</footer>