<header class="header">
	<img class="logo" src="assets/logo_white.png" width="auto" height="60px" />
</header>

<section class="board">

	<section class="grid">

	</section>

	<section class="recent-orders">

	</section>

</section>



<footer class="news-ticker">

</footer>