<div class="change"></div>

<div class="product-name">
	{{name}}
</div>

<div class="product-price">
	{{sale_price}}
</div>

<div class="product-history">
	<div class="chart">

	</div>
	<div class="percentage">
		{{percent_change}}%
	</div>
</div>
